// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$headers-font: 'Raleway', sans-serif;
$subheader-font: 'Libre Baskerville', serif;
$body-font: 'Libre Baskerville', serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.text-4xl {
	font-size: 4rem;
	line-height: 2.5rem;
	font-family: $headers-font;
}

.text-2xl {
	font-family: $subheader-font;
	font-style: italic;
}

.text-3xl {
	font-size: 3rem;
	line-height: 2rem;
	font-family: $headers-font;
}

.font-bold {
	font-weight: 700;
}

.text-accent {
	color: rgb(110, 108, 110);
}

.text-sm {
	font-size: 1.2rem;
}

.text-md {
	font-size: 1.6rem;
}