.text-4xl {
	font-size: 4rem;
	line-height: 2.5rem;
	font-family: $headers-font;
}

.text-2xl {
	font-family: $subheader-font;
	font-style: italic;
}

.text-3xl {
	font-size: 3rem;
	line-height: 2rem;
	font-family: $headers-font;
}

.font-bold {
	font-weight: 700;
}

.text-accent {
	color: rgb(110, 108, 110);
}

.text-brand {
	color: $brand;
}

.text-sm, .text-sm-accent {
	font-size: 1.2rem;
	a {
		color: #268BD2;
	}
}

.text-sm-accent {
	font-family: $subheader-font;
	font-style: italic;
}

.text-md {
	font-size: 1.6rem;
}

// X-Small and Small devices 
@media (max-width: 576px) {
  .text-4xl {
    font-size: 3rem;
  }
}