.mt-70 {
	margin-top: 70px;
}

// Large screen
@media (min-width: 992px) {
	.pr-lg {
		padding-right: 20pc;
	}
	.pl-lg {
		padding-left: 100px;
	}
}

// X-Large screen
@media (min-width: 1200px) {
	.pr-xlg {
		padding-right: 30pc;
	}
}