<% if notice %>
  <div class="flash flash-success alert alert-dismissible fade show mt-70" role="alert">
    <div class="content">
      <div class="line"></div>
      <i class="icon fas fa-check-circle"></i>
      <div class="details">
        <h5>Yay! 🎉</h5>
        <p><%= notice %></p>
      </div>
    </div>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="dismiss fas fa-times"></i>
    </a>
  </div>
<% end %>
<% if alert %>
  <div class="flash flash-warning alert alert-dismissible fade show mt-70" role="alert">
    <div class="content">
      <div class="line"></div>
      <i class="icon fas fa-exclamation-circle"></i>
      <div class="details">
        <h5>Oops! 😱</h5>
        <p><%= alert %></p>
      </div>
    </div>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="dismiss fas fa-times"></i>
    </a>
  </div>
<% end %>