<div class="container">
	<div class="header-container">
		<h1 class="text-4xl font-bold mb-4">Hi, I’m Jessie 👋</h1>
		<h2 class="text-2xl">I am a 2-time founder and product manager transitioning into a formal software engineering role.</h2>
		<p>ADD SOCIAL LINKS</p>
	</div>
	<div class="projects-container">
		<h4 class="text-accent text-md font-bold mb-5">Things I've done</h4>
		<%= link_to project_maavens_path do %>
			<div class="card-project">
				<h3 class="text-3xl font-bold mb-3">MAAVENS</h3>
				<p class="text-sm">Product recommendations from people you trust</p>
			</div>
		<% end %>
		<%= link_to project_ui_kit_path do %>
			<div class="card-project">
				<h3 class="text-3xl font-bold mb-3">UI Kit</h3>
				<p class="text-sm">Component and layouts for you to build on.</p>
			</div>
		<% end %>
	</div>
</div>
