<div class="container">
	<div class="header-container">
		<h1>Hi, I’m Jessie 👋</h1>
		<h4>I am an 2-time founder and product manager transitioning into a formal software engineering role.</h4>
	</div>
	<div class="projects-container">
		<h2>Things I've done</h2>
		<div class="card-project">
			<h3>MAAVENS</h3>
			<p>Product recommendations from people you trust</p>
		</div>
		<div class="card-project">
			<h3>UI Kit</h3>
			<p>Component and layouts for you to build on.</p>
		</div>
	</div>
</div>
