<div class="block-image-overflow">
	<div class="container">
		<div class="header-container">
			<h1 class="text-4xl font-bold mb-4">MAAVENS</h1>
			<h2 class="text-2xl pr-lg pr-xlg">Product recommendations from people you trust</h2>
			<%= link_to "www.maavens.com", "https://www.maavens.com/", target: "_blank", class: "text-md text-brand" %>
			<div class="hero-image">
				<img src="https://res.cloudinary.com/dswcvx3gy/image/upload/v1655523324/maavens_banner.jpg" alt="">
			</div>
		</div>
		<div class="project-details-container pl-lg">
			<h3 class="text-3xl font-bold mb-3">Why</h3>
			<p class="text-sm-accent mb-3">"A maven is a trusted expert in a particular field, who seeks to pass timely and relevant knowledge on to others in the respective field." <%= link_to " - Wikipedia", "https://en.wikipedia.org/wiki/Maven" %></p>
			<p class="text-sm mb-5">Friend recommendations matter to 70% of millennial consumers and those same consumers are increasingly looking for those opinions in the media [social] they consume. The problem is that the multi-flow of social content online means that a lot of those trusted opinions get lost in the noise. Maavens aims to collate those recommendations into a searchable and shoppable format.</p>
			<h3 class="text-3xl font-bold mb-3">How</h3>
			<p class="text-sm-accent mb-2">Leveraged: HTML, CSS, JavaScript, Ruby on Rails, PostgreSQL</p>
			<p class="text-sm mb-5">Built mobile-first Ruby on Rails application supporting authentication, authorization, filtering, search, manual and automated product matching and automated product availability/price monitoring.</p>
			<h3 class="text-3xl font-bold mb-3">What</h3>
			<p class="text-sm mb-2"><strong>Engagement: </strong>15k+ Pageviews/month</p>
			<p class="text-sm mb-5"><strong>Conversion: </strong>7.1%</p>
		</div>
	</div>
</div>