<div class="container">
	<div class="header-container">
		<h1 class="text-4xl font-bold mb-4">UI Kit</h1>
		<h2 class="text-2xl pr-lg pr-xlg">Component and layouts for you to build on.</h2>
		<div class="hero-image">
			<img src="https://www.dejan.works/work/days/img/Days.png" alt="">
		</div>
	</div>
	<div class="project-details-container">
		<h3 class="text-3xl font-bold mb-3">Why</h3>
		<p class="text-sm mb-5">A way for me to practice my front-end skills to design molecules for future development.</p>
		<h3 class="text-3xl font-bold mb-3">How</h3>
		<p class="text-sm mb-5">HTML, CSS, JavaScript, Ruby on Rails, Github, Heroku, PostgreSQL, Google Analytics, Algolia</p>
		<h3 class="text-3xl font-bold mb-3">What</h3>
		<p class="text-sm mb-5">This is where I will talk about the result</p>
	</div>
</div>