<!-- Sidebar for md+ screens -->
<div class="flex-shrink-0 px-3 pb-3 bg-white d-none d-md-block position-fixed" style="width: 280px;">
  <ul class="list-unstyled ps-0">
  	<li class="border-top my-3"></li>  
    	<%= render 'shared/ui_kit_nav' %>
    <li class="border-top my-3"></li>    
  </ul>
</div>
<!-- Top nav for xs & sm screens -->
<div class="navbar navbar-expand-md navbar-light navbar-ui d-md-none py-2 px-3">
  <div class="container-fluid">
    <div></div>
    <!-- Hamburger menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      	<%= render 'shared/ui_kit_nav' %>
      </ul>
    </div>
  </div>
</div>
<section class="main-content py-5" id="top">
  <div class="container">
    <h1 class="text-4xl font-bold mb-4">Components</h1>
    <p class="text-sm">Dolor sit eu enim qui quis elit fugiat irure in aute. Adipisicing aute cupidatat dolor laborum quis tempor consectetur anim minim aute.</p>
    <section id="alert">
      <h2 class="text-2xl">Alert</h2>
      <div class="element-preview">
        <div class="alert-jb alert-jb-info alert alert-dismissible fade show" role="alert">
          <div class="content">
            <div class="line"></div>
            <i class="icon fas fa-info-circle"></i>
            <div class="details">
              <h5>Did you know?</h5>
              <p>Here is something that you might like to know.</p>
            </div>
          </div>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="dismiss fas fa-times"></i>
          </a>
        </div>
        <div class="alert-jb alert-jb-warning alert alert-dismissible fade show" role="alert">
          <div class="content">
            <div class="line"></div>
            <i class="icon fas fa-exclamation-circle"></i>
            <div class="details">
              <h5>Uh oh, something went wrong</h5>
              <p>Sorry! There was a problem with your request.</p>
            </div>
          </div>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="dismiss fas fa-times"></i>
          </a>
        </div>
        <div class="alert-jb alert-jb-success alert alert-dismissible fade show" role="alert">
          <div class="content">
            <div class="line"></div>
            <i class="icon fas fa-check-circle"></i>
            <div class="details">
              <h5>Yay! Everything worked!</h5>
              <p>Congrats on the internet loading your request.</p>
            </div>
          </div>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="dismiss fas fa-times"></i>
          </a>
        </div>
      <div class="card-code">
        <div class="card-code-header">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-html-tab" data-bs-toggle="tab" data-bs-target="#nav-html" type="button" role="tab" aria-controls="nav-html" aria-selected="true">HTML</button>
              <button class="nav-link" id="nav-css-tab" data-bs-toggle="tab" data-bs-target="#nav-css" type="button" role="tab" aria-controls="nav-css" aria-selected="false">CSS</button>
            </div>
          </nav>
          <div class="card-code-body tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-html" role="tabpanel" aria-labelledby="nav-html-tab">
              <pre>
                <code class="language-html">
&lt;div class="alert-jb alert-jb-info alert alert-dismissible fade show" role="alert">
  &lt;div class="content">
    &lt;div class="line">&lt;/div>
    &lt;i class="icon fas fa-info-circle">&lt;/i>
    &lt;div class="details">
      &lt;h5>Did you know?&lt;/h5>
      &lt;p>Here is something that you might like to know.&lt;/p>
    &lt;/div>
  &lt;/div>
  &lt;a data-bs-dismiss="alert" aria-label="Close">
    &lt;i class="dismiss fas fa-times">&lt;/i>
  &lt;/a>
&lt;/div>
&lt;div class="alert-jb alert-jb-warning alert alert-dismissible fade show" role="alert">
  &lt;div class="content">
    &lt;div class="line">&lt;/div>
    &lt;i class="icon fas fa-exclamation-circle">&lt;/i>
    &lt;div class="details">
      &lt;h5>Uh oh, something went wrong&lt;/h5>
      &lt;p>Sorry! There was a problem with your request.&lt;/p>
    &lt;/div>
  &lt;/div>
  &lt;a data-bs-dismiss="alert" aria-label="Close">
    &lt;i class="dismiss fas fa-times">&lt;/i>
  &lt;/a>
&lt;/div>
&lt;div class="alert-jb alert-jb-success alert alert-dismissible fade show" role="alert">
  &lt;div class="content">
    &lt;div class="line">&lt;/div>
    &lt;i class="icon fas fa-check-circle">&lt;/i>
    &lt;div class="details">
      &lt;h5>Yay! Everything worked!&lt;/h5>
      &lt;p>Congrats on the internet loading your request.&lt;/p>
    &lt;/div>
  &lt;/div>
  &lt;a data-bs-dismiss="alert" aria-label="Close">
    &lt;i class="dismiss fas fa-times">&lt;/i>
  &lt;/a>
&lt;/div>
                </code>
              </pre>
            </div>
            <div class="tab-pane fade" id="nav-css" role="tabpanel" aria-labelledby="nav-css-tab">
              <pre>
                <code class="language-css">
.alert-jb {
  display: flex;
  margin: 10px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.12);
  border-radius: 5px;
}

.alert-jb .content {
  display: flex;
  align-items: center;
}

.alert-jb h5, .alert-jb p {
  margin-bottom: 0px;
}

.alert-jb .dismiss {
  padding-right: 10px;
}

.alert-jb p, .alert-jb .dismiss {
  color: #94959A;
}

.alert-jb .line {
  height: 60px;
  border-radius: 5px;
}

.alert-jb .icon {
  font-size: 30px;
  padding: 0 20px;
}

.alert-jb-info .line {
  border-left: 5px solid #037BC3;
}

.alert-jb-info .icon {
  color: #037BC3;
}

.alert-jb-warning .line {
  border-left: 5px solid #F0A92C;
}

.alert-jb-warning .icon {
  color: #F0A92C;
}

.alert-jb-success .line {
  border-left: 5px solid #20A779;
}

.alert-jb-success .icon {
  color: #20A779;
}
                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>