<!-- Sidebar for md+ screens -->
<div class="flex-shrink-0 px-3 pb-3 bg-white d-none d-md-block position-fixed" style="width: 280px;">
  <ul class="list-unstyled ps-0">
  	<li class="border-top my-3"></li>  
    	<%= render 'shared/ui_kit_nav' %>
    <li class="border-top my-3"></li>    
  </ul>
</div>
<!-- Top nav for xs & sm screens -->
<div class="navbar navbar-expand-md navbar-light navbar-custom navbar-bg-grey d-md-none">
  <div class="container-fluid">
    <div></div>
    <!-- Hamburger menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      	<%= render 'shared/ui_kit_nav' %>
      </ul>
    </div>
  </div>
</div>
<section class="main-content py-4" id="top">
  <div class="container">
    <h1>Components</h1>
    <p>Dolor sit eu enim qui quis elit fugiat irure in aute. Adipisicing aute cupidatat dolor laborum quis tempor consectetur anim minim aute.</p>
  </div>
</section>