<!-- Sidebar for md+ screens -->
<div class="flex-shrink-0 px-3 pb-3 bg-white d-none d-md-block position-fixed" style="width: 280px;">
  <ul class="list-unstyled ps-0">
  	<li class="border-top my-3"></li>  
    	<%= render 'shared/ui_kit_nav' %>
    <li class="border-top my-3"></li>    
  </ul>
</div>
<!-- Top nav for xs & sm screens -->
<div class="navbar navbar-expand-md navbar-light navbar-ui d-md-none py-2 px-3">
  <div class="container-fluid">
    <div></div>
    <!-- Hamburger menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      	<%= render 'shared/ui_kit_nav' %>
      </ul>
    </div>
  </div>
</div>
<section class="main-content py-5" id="top">
  <div class="container">
    <h1 class="text-4xl font-bold mb-4">Components</h1>
    <p class="text-sm">Dolor sit eu enim qui quis elit fugiat irure in aute. Adipisicing aute cupidatat dolor laborum quis tempor consectetur anim minim aute.</p>
    <section id="alert">
      <h2 class="text-2xl">Alert</h2>
      <div class="element-preview">
        <div class="flash flash-success alert alert-dismissible fade show" role="alert">
          <span><strong>Yay!</strong> 🎉 you successfully signed in to our service.</span>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
          <span><strong>Oops!</strong> 😱 a problem has occurred while processing your booking.</span>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <div class="card-code">
        <div class="card-code-header">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-html-tab" data-bs-toggle="tab" data-bs-target="#nav-html" type="button" role="tab" aria-controls="nav-html" aria-selected="true">HTML</button>
              <button class="nav-link" id="nav-css-tab" data-bs-toggle="tab" data-bs-target="#nav-css" type="button" role="tab" aria-controls="nav-css" aria-selected="false">CSS</button>
            </div>
          </nav>
          <div class="card-code-body tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-html" role="tabpanel" aria-labelledby="nav-html-tab">
              <pre>
                <code>
&lt;div class="flash flash-success alert alert-dismissible fade show" role="alert"&gt;
  &lt;span&gt;&lt;strong&gt;Yay!&lt;/strong&gt; 🎉 you successfully signed in to our service.&lt;/span&gt;
  &lt;a data-bs-dismiss="alert" aria-label="Close"&gt;
    &lt;i class="fas fa-times"&gt;&lt;/i&gt;
  &lt;/a&gt;
&lt;/div&gt;

&lt;div class="flash flash-warning alert alert-dismissible fade show" role="alert"&gt;
  &lt;span&gt;&lt;strong&gt;Mmh&lt;/strong&gt; 🤔 seems like you don't have &lt;a href="#"&gt;profile picture&lt;/a&gt; yet.&lt;/span&gt;
  &lt;a data-bs-dismiss="alert" aria-label="Close"&gt;
    &lt;i class="fas fa-times"&gt;&lt;/i&gt;
  &lt;/a&gt;
&lt;/div&gt;

&lt;div class="flash flash-danger alert alert-dismissible fade show" role="alert"&gt;
  &lt;span&gt;&lt;strong&gt;Oops!&lt;/strong&gt; 😱 a problem has occurred while processing your booking.&lt;/span&gt;
  &lt;a data-bs-dismiss="alert" aria-label="Close"&gt;
    &lt;i class="fas fa-times"&gt;&lt;/i&gt;
  &lt;/a&gt;
&lt;/div&gt;
                </code>
              </pre>
            </div>
            <div class="tab-pane fade" id="nav-css" role="tabpanel" aria-labelledby="nav-css-tab">Testing 2</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>