<style>
	p {
		font-family: sans-serif;
		font-size: 13px;
		color: grey;
	}
</style>

<p><b>Email:</b> <%= @message.email %></p>
<p><b>Message:</b> <em><%= @message.body %></em></p>
<p>________________________________________</p>
