.btn-ghost {
  color: $brand;
  border: 2px solid $brand;
  background-color: white;
}

.btn-ghost:hover {
  color: white;
  background-color: $brand;
}

.btn-exit {
  color: white;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-exit:hover {
  color: #6c757d;
  border: 2px solid #6c757d;
  background-color: transparent;
}

.btn-x {
  font-size: 1.3em;
  color: $brand;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-x:hover {
  color: #26d3c8;
}

.btn-ghost, .btn-exit {
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover, .btn-exit:hover, .btn-x:hover {
  opacity: 1;
}