.alert-jb {
  display: flex;
  margin: 10px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.12);
  border-radius: 5px;
}

.alert-jb .content {
  display: flex;
  align-items: center;
}

.alert-jb h5, .alert-jb p {
  margin-bottom: 0px;
}

.alert-jb .dismiss {
  padding-right: 10px;
}

.alert-jb p, .alert-jb .dismiss {
  color: #94959A;
}

.alert-jb .line {
  height: 60px;
  border-radius: 5px;
}

.alert-jb .icon {
  font-size: 30px;
  padding: 0 20px;
}

.alert-jb-info .line {
  border-left: 5px solid #037BC3;
}

.alert-jb-info .icon {
  color: #037BC3;
}

.alert-jb-warning .line {
  border-left: 5px solid #F0A92C;
}

.alert-jb-warning .icon {
  color: #F0A92C;
}

.alert-jb-success .line {
  border-left: 5px solid #20A779;
}

.alert-jb-success .icon {
  color: #20A779;
}
