


// UI Kit

.flash {
  display: flex;
  margin: 10px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.12);
  border-radius: 5px;
}

.flash .content {
  display: flex;
  align-items: center;
}

.flash h5, .flash p {
  margin-bottom: 0px;
}

.flash .dismiss {
  padding-right: 10px;
}

.flash p, .flash .dismiss {
  color: #94959A;
}

.flash .line {
  height: 60px;
  border-radius: 5px;
}

.flash .icon {
  font-size: 30px;
  padding: 0 20px;
}

.flash-info .line {
  border-left: 5px solid #037BC3;
}

.flash-info .icon {
  color: #037BC3;
}

.flash-warning .line {
  border-left: 5px solid #F0A92C;
}

.flash-warning .icon {
  color: #F0A92C;
}

.flash-success .line {
  border-left: 5px solid #20A779;
}

.flash-success .icon {
  color: #20A779;
}