.navbar-custom {
  justify-content: space-between;
  height: $navbar-height;
  padding: 0 1rem;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}

.navbar-bg-trans {
  background: transparent;
}

.navbar-ui {
  background: #F4F4F4;
  margin-top: $navbar-height;
}

// X-Small and Small devices 
@media (max-width: 576px) {
  .navbar-custom {
    padding: 0;
  }
}