.navbar-custom {
  justify-content: space-between;
  height: $navbar-height;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}

.navbar-bg-trans {
  background: transparent;
}

.navbar-ui {
  background: #F4F4F4;
  margin-top: $navbar-height;
}