.navbar-custom {
  justify-content: space-between;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}

.navbar-bg-white {
  background: white;
}

.navbar-bg-grey {
  background: #F4F4F4;
}