.nav-tabs {
  width: fit-content;
  border: 3px solid white;
  border-radius: 50px;
  background: white;
  .nav-link {
    border: none;
    color: $gray;
  }
  .nav-link.active {
    border: 2px solid $brand;
    border-radius: 50px;
    color: $brand;
  }
}

// UI Kit
.tabs-underlined {
  display: flex;
  align-items: center;
  background: transparent;
}

.tabs-underlined .tab-underlined {
  border: none;
  background: transparent;
  font-size: 18px;
  color: black;
  opacity: 0.4;
  cursor: pointer;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}